#footer {
    padding: 0;
    margin-bottom: 5px;
    bottom: -5px;
    width: 100%;
    background-color: #222;
}

.copyright {
    float: right;
    margin: 60px 30px 0 0;
}

@media(max-width:750px) {
    .copyright {
        position: initial;
        display: inline-block;
        margin: 0 30px 10px 0;
    }
}