<section calss="project-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">All Projects</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- TODO: replace with directive -->
            <div class="col-lg-4 col-md-4">
                <div class="project-desc">
                    <h3>Test project 1</h3>
                    <div class="project-img">
                        <img src="../../../assets/project1.jpg">
                    </div>
                    <p class="text-faded">Test project one description. Short resume of what the project is about.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="project-desc">
                    <h3>Test project 2</h3>
                    <div class="project-img">
                        <img src="../../../assets/project2.jpg">
                    </div>
                    <p class="text-faded">Test project two description. Short resume of what the project is about.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="project-desc">
                    <h3>Test project 3</h3>
                    <div class="project-img">
                        <img src="../../../assets/project3.jpg">
                    </div>
                    <p class="text-faded">Test project three description. Short resume of what the project is about.</p>
                </div>
            </div>
        </div>
    </div>
</section>