<div class="modal-header">
    <button id="close" type="button" class="close" (click)="activeModal.close('Cross click')"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">Register</h4>
</div>

<div class="modal-body">
    <form [formGroup]="userForm" (ngSubmit)="signup()">

        <div class="form-group">
            <label for="firstname" class="control-label">First name</label>
            <input formControlName="firstname" requiredtype="text" class="form-control" id="firstname" name="firstname" placeholder="Your first name">
            <div *ngIf="formErrors.firstname" class="error"> {{ formErrors.firstname }} </div>
        </div>

        <div class="form-group">
            <label for="lastname" class="control-label">Last name</label>
            <input formControlName="lastname" requiredtype="text" class="form-control" id="lastname" name="lastname" placeholder="Your last name">
            <div *ngIf="formErrors.lastname" class="error"> {{ formErrors.lastname }} </div>
        </div>

        <div class="form-group">
            <label for="username" class="control-label">Email</label>
            <input formControlName="email" requiredtype="text" class="form-control" id="email" name="email" required="" placeholder="Your Email">
            <div *ngIf="formErrors.email" class="error"> {{ formErrors.email }} </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password" name="password" value="" required=""
                placeholder="Your Password">
            <div *ngIf="formErrors.password" class="error"> {{ formErrors.password }} </div>
        </div>
        <div *ngIf="userExists" class="error text-center">User with this email already exists </div>
        <button [disabled]="!userForm.valid" type="submit" class="btn btn-success center-block">Register</button>
    </form>
</div>

<div class="modal-footer">
    <span class="form-control-static pull-left footer-text">Already registered?</span>
    <button type="button" class="btn btn-info" (click)="activeModal.close('Login')">Log in Here</button>
</div>
