<div class="container">
    <div class="row">
        <div *ngFor='let project of projects' [class]="columnStyle(number)">
            <div class="project-desc">
                <h3><a [routerLink]="['/projects', project.projectId]">{{ project.projectName }}</a></h3>
                <span class="created-by">by {{ project.authorName }}</span>
                <div class="project-img">
                    <img [src]='project.imageUrl' [title]='project.projectName'>
                </div>
                <p class="text-faded">{{ project.description | cutString:10 }}</p>
                <div class="project-details">
                    <span class="badge-custom badge-votes">{{ project.votes }} votes</span>
                    <span class="badge-custom badge-funds">gained {{ project.accumulatedFunds | currency:'USD':true:'1.2-2'}}</span>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" [style.width.%]='project.accumulatedFunds / project.targetFunds * 100'></div>
                    </div>
                    <span id="percent-value">funded {{ project.accumulatedFunds | calculatePercent:project.targetFunds }}%</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>