#close{
    color: white;
  }
  
  .vcenter {
    display: flex;
    align-items: center;
    padding: 2em 0 2em 0;
  }
  
  .column{
    background-color: #444;
    border: 0;
    border-radius: 0px;
    box-shadow: 2px 2px 3px #000;
  }
  
  .error{
    color: red;
  }

  .footer-text{
      font-size: 1.3em;
  }