@import url('../../project/projects-list/projects-list.component.css');
.user-projects {
    margin-top: 60px;
}

.user-header {
    background-color: #666;
    padding: 10px 20px;
    box-shadow: 2px 2px 3px #000;
}

.user-header h3 {
    display: inline-block;
    color: #fff;
    margin: 0;
}

.project-img {
    height: 100px;
    width: 240px;
    overflow: hidden;
    box-sizing: border-box;
}

.text-muted {
    padding-left: 20px;
    color: #bbb;
}

input {
    color: #222;
    padding: 5px;
    font-size: 1.2em;
}

.create-btn {
    display: inline-block;
    margin-left: 10%;
    padding: 8px 20px;
    font-size: 1.2em;
    border: 2px outset grey;
}