<!--The content below is only a placeholder and can be replaced.-->
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#first">Big Starter</a>
      </div>

      <div class="navbar-collapse collapse" id="bs-navbar">
          <ul class="nav navbar-nav">
              <li><a class="page-scroll" href="#one">Intro</a></li>
              <li><a class="page-scroll" href="#two">Guide</a></li>
              <li><a class="page-scroll" href="#three">Projects</a></li>
              <li><a class="page-scroll" href="#four">Feedback</a></li>
              <li><a class="page-scroll" href="#last">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll" data-toggle="modal" title="Login or register" href="#loginModal">Login</a>
              </li>
          </ul>
      </div>
  </div>
</nav>


<router-outlet></router-outlet>

<!--not displayed?!-->
<footer id="footer">
  <div class="container-fluid">
      <div class="row">
          <div class="col-xs-6 col-sm-3 column">
              <h4>Information</h4>
              <ul class="list-unstyled">
                  <li><a href="">Projects</a></li>
                  <li><a href="">Categories</a></li>
                  <li><a href="">Information</a></li>
              </ul>
          </div>
          <div class="col-xs-6 col-sm-3 column">
              <h4>About</h4>
              <ul class="list-unstyled">
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Our Team</a></li>
                  <li><a href="#">Terms &amp; Conditions</a></li>
              </ul>
          </div>
      </div>
      <br/>
      <span class="pull-right text-muted small"> ©2017 Telerik - The Merciful Worms</span>
  </div>
</footer>

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body text-center">
              <h2 class="text-center">Please login or register</h2>
              <br>
              <button class="btn btn-primary btn-lg" data-dismiss="modal" aria-hidden="true"> Login </button>
              <button class="btn btn-primary btn-lg" data-dismiss="modal" aria-hidden="true"> Register </button>
          </div>
      </div>
  </div>
</div>


