.navbar-default {
    border-color: rgba(35, 35, 35, .05);
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    background-color: #222;
    transition: all .4s;
}

.navbar-header .small-logo {
    position: absolute;
    left: 10px;
    top: 10px;
}

.navbar-header>.navbar-brand {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    color: #c9c9c9;
    padding: 15px 15px 15px 55px;
    transition: padding .2s ease-in;
}

.navbar-header>.navbar-brand:hover,
.navbar-header>.navbar-brand:focus {
    color: #C4BA07;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #181818;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #FFF200;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #FFF200 !important;
    background-color: transparent;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: #222;
        min-height: 60px;
    }
    .navbar-header .small-logo {
        position: absolute;
        left: 15px;
        top: 15px;
    }
    .navbar-header>.navbar-brand {
        color: #c9c9c9;
        padding: 19px 19px 19px 55px;
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #FFF200;
    }
    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: #fff;
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60, 60, 60, 0.7);
    }
    .navbar-default .nav>li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #FFF200;
    }
    .navbar-default.affix {
        border-color: rgba(34, 34, 34, .05);
        background-color: #222;
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #FFF200;
        padding: 20px;
        letter-spacing: 1px;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #FFF200;
    }
    .navbar-default.affix .nav>li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.7);
    }
    .navbar-default.affix .nav>li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #FFF200;
    }
}

.footer {
    padding: 0;
}