<section class="project-item">
    <div class="container">
        <div class="row">
            <!-- TODO: replace with directive -->
            <div class="col-sm-12">
                <div class="project-desc">
                    <h3>Test project 1</h3>
                    <span class="created-by">Created by <strong>The Bees</strong></span>
                    <div class="project-img">
                        <img src="../../../assets/project1.jpg">
                    </div>
                    <p class="text-faded">Test project one description. Short resume of what the project is about. Added some more description to see what happens if text is longer. Text must be cropped when display is in projects list and not cropped when project is displayed
                        in single project page. If this is fixed this sentence must not be sisplayed in projects list page. If this is not fixed all text will be displayed and the view becomes ugly.</p>
                    <div class="project-details">
                        <div class="badges">
                            <a href="#" class="badge-custom badge-votes">12 votes</a>
                            <span>Vote for project!</span>
                        </div>
                        <div class="badges">
                            <a href="#" class="badge-custom badge-funds">gained $500</a>
                            <span>Support with donation!</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 30%">funded 30%</div>
                        </div>
                        <span>Help us to complete the goal of $1000!</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>