@import url('../project-list-items/project-list-items.component.css');
.project-item {
    margin-top: 60px;
}

h3 {
    font-size: 3em;
    margin: 20px;
}

.project-img img {
    width: 100%;
}

.project-img {}

.project-img {
    float: none;
    padding: 10px;
    margin: 5px 10px 10px 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.project-img img {
    width: 100%;
}

.project-desc p {
    text-indent: 30px;
    margin: 10px;
}

.created-by {
    font-size: 1.2em;
    color: #ddd;
    margin: 10px;
}

.created-by strong {
    font-size: 1.5em;
    color: #fff;
    margin: 10px;
}

.badge-votes {
    background-color: #1EAE1E;
    padding: 8px 20px;
    margin: 0 10px 20px 0;
    display: inline-block;
    width: 120px;
    height: 50px;
    border: 3px outset #1EAE1E;
    font-size: 1.3em;
    transition-duration: 0.4s;
    cursor: pointer;
}

.badge-funds {
    background-color: #DD6400;
    padding: 0 20px;
    margin: 0 10px 10px 0;
    display: inline-block;
    width: 120px;
    height: 50px;
    border: 3px outset #DD6400;
    transition-duration: 0.4s;
    cursor: pointer;
}

.badge-funds:hover,
.badge-votes:hover {
    border: 3px inset grey;
}

.progress {
    height: 20px;
    width: 60%
}

a:hover {
 cursor:pointer;
}