<section class="project-item">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div *ngIf="project" class="project-desc">
                    <h3>{{ project.projectName }}</h3>
                    <span class="created-by">Created by <strong>{{ project.authorName }}</strong></span>
                    <div class="project-img">
                        <img [src]='project.imageUrl' [title]='project.projectName'>
                    </div>
                    <p class="text-faded">{{ project.description }}</p>
                    <div class="project-details">
                        <div class="badges">
                            <a *ngIf="auth.authenticated" (click)="toggleVoteProject()" class="badge-custom badge-votes">{{ project.upvotedBy.length }} votes</a>
                            <a *ngIf="!auth.authenticated" data-toggle="modal" (click)="login.openLoginModal()" class="badge-custom badge-votes">{{ project.upvotedBy.length }} votes</a>                            
                            
                            <span>Vote for project!</span>
                        </div>
                        <div class="badges">
                            <a *ngIf="auth.authenticated"  class="badge-custom badge-funds">gained {{ project.accumulatedFunds | currency:'USD':true:'1.2-2'}}</a>
                            <a *ngIf="!auth.authenticated" data-toggle="modal" (click)="login.openLoginModal()"  class="badge-custom badge-funds">gained {{ project.accumulatedFunds | currency:'USD':true:'1.2-2'}}</a>
                            
                            <span>Support with donation!</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" [style.width.%]='project.accumulatedFunds / project.targetFunds * 100'>funded {{ project.accumulatedFunds | calculatePercent:project.targetFunds }}%</div>
                        </div>
                        <span>Help us to complete the goal of {{ project.targetFunds | currency:'USD':true:'1.2-2'}}!</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>

