<div class="modal-header">
  <button id="close" type="button" class="close" (click)="activeModal.close('Cross click')"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="myModalLabel">Log in</h4>
</div>

<div class="modal-body">
  <div class="row vcenter">
    <div class="col-xs-7">
      <div class="column well">
        <form [formGroup]="userForm" (ngSubmit)="login()">

          <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input formControlName="email" requiredtype="text" class="form-control" id="email" name="email" required="" placeholder="Your Email">
            <div *ngIf="formErrors.email" class="error"> {{ formErrors.email }} </div>
          </div>

          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password" name="password" value="" required=""
              placeholder="Your Password">
            <div *ngIf="formErrors.password" class="error"> {{ formErrors.password }} </div>
          </div>

          <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
          <button [disabled]="!userForm.valid" type="submit" class="btn btn-success btn-block">Login</button>

          <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
          <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>

        </form>
      </div>
    </div>

    <div class="col-xs-5">
      <p><a (click)="signInWithFacebook()" href="#" class="btn btn-social btn-facebook btn-block"><span class="fa fa-facebook"></span>Sign in with Facebook</a></p>
      <p><a (click)="signInWithGoogle()" href="#" class="btn btn-social btn-google btn-block"><span class="fa fa-google"></span>Sign in with Google</a></p>
      <p><a (click)="signInWithTwitter()" href="#" class="btn btn-social btn-twitter btn-block"><span class="fa fa-twitter"></span>Sign in with Twitter</a></p>
      <p><a (click)="signInWithGithub()" href="#" class="btn btn-social btn-github btn-block"><span class="fa fa-github"></span>Sign in with GitHub</a></p>
    </div>
  </div>
</div>

<div class="modal-footer">
  <span class="form-control-static pull-left footer-text">Not Registered? Sign Up for <span class="text-success">FREE</span></span>
  <button type="button" class="btn btn-info" (click)="activeModal.close('Register')">Register now!</button>
</div>