#close{
    color: white;
  }
  
  .vcenter {
    display: flex;
    align-items: center;
    padding: 2em 0 2em 0;
  }
  
  .column{
    background-color: #444;
    border: 0;
    border-radius: 0px;
    box-shadow: 2px 2px 3px #000;
  }
  
  .error{
    color: red;
  }

  .footer-text{
      font-size: 1.3em;
  }

  .reset{
    font-size: 1.2em;
    color: green;
    margin: 0;
    text-align: center;
  }
  
  .reset-request{
    font-size: 1.1em;
  }

  a:hover {
    cursor:pointer;
   }
   .col-centered{
    float: none;
    margin: 0 auto;
}
