<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
            <img class="page-scroll small-logo" src="../assets/logo-white.png" width="30">
            <a class="navbar-brand page-scroll" href="#first">Big Starter</a>
        </div>

        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/welcome']" class="page-scroll">Intro</a></li>
                <li><a [routerLink]="['/projects']" class="page-scroll">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!auth.authenticated">
                    <a class="page-scroll" title="Login" (click)="login.openLoginModal()">Login</a>
                </li>
                <li *ngIf="!auth.authenticated">
                    <a class="page-scroll" title="Register" (click)="login.openRegisterModal()">Register</a>
                </li>
                <li *ngIf="auth.authenticated">
                    <a [routerLink]="['/profile']" class="page-scroll" title="Profile">{{!!this.auth.user ? this.auth.user.name : ''}}</a>
                </li>
                <li *ngIf="auth.authenticated">
                    <a class="page-scroll" title="signOut" (click)="auth.signOut()">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>