/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Questrial);
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    background-color: #282828;
    color: #d3d3d3;
}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #C4BA07;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #F4EA2F;
    outline: 0;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
}

p {
    font-size: 1.3em;
    line-height: 1.7;
    margin-bottom: 20px;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 4em;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.main-header {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    width: 100%;
}

.text-faded {
    color: rgba(245, 245, 245, 0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #C4BA07;
}

.modal-content {
    background-color: #1d1d1d;
}

section,
aside,
footer {
    padding: 20px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(35, 35, 35, .05);
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    background-color: #222;
    transition: all .4s;
}

.navbar-header>.navbar-brand {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    color: #ECE121;
    padding: 15px;
    transition: padding .2s ease-in;
}

.navbar-header>.navbar-brand:hover,
.navbar-header>.navbar-brand:focus {
    color: #ECE121;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #181818;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #C4BA07;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #C4BA07 !important;
    background-color: transparent;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }
    .navbar-header>.navbar-brand {
        color: rgba(255, 255, 255, 0.7);
        padding: 19px;
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }
    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60, 60, 60, 0.7);
    }
    .navbar-default .nav>li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }
    .navbar-default.affix {
        border-color: rgba(34, 34, 34, .05);
        background-color: #222;
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #C4BA07;
        padding: 20px;
        letter-spacing: 1px;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #C4BA07;
    }
    .navbar-default.affix .nav>li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.7);
    }
    .navbar-default.affix .nav>li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #C4BA07;
    }
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #c9c9c9;
    background-position: center;
    background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

footer {
    background-color: #2d2d2d;
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        transform: translateY(-50%);
    }
    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    header .header-content .inner h1 {
        font-size: 100px;
    }
    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    section {
        min-height: 600px;
        padding: 20px 0;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.project-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow: hidden;
}

.project-box .project-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44, 44, 44, .8);
    transition: all .35s;
}

.project-box .project-box-caption .project-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.project-box:hover .project-box-caption {
    opacity: 1;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box img {
    transition: all 300ms ease-in-out;
}

.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    border: 1px solid #f0f0f0;
    border-color: #f0f0f0;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}