.project-categories {
    margin-top: 60px;
}

.category-header {
    background-color: #444;
    padding: 10px 20px;
    box-shadow: 2px 2px 3px #000;
}

.category-header a {
    color: #fff;
}

.category-header a:hover {
    color: #F4EA2F;
}