<header id="first">
    <div class="header-content">
        <div class="inner">
            <h1 class="main-header">{{ pageTitle }}</h1>
            <h4>A small place for big ideas</h4>
            <hr>
            <a id="subscribe" class="btn btn-primary btn-xl" data-toggle="modal" title="Login or register" href="#loginModal">Subscribe</a> &nbsp;
            <a href="#" class="btn btn-primary btn-xl page-scroll">Get Started</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h2 class="margin-top-0 text-primary">Projects and ideas sharing platform</h2>
                <br>
                <p class="text-faded">
                    Big Starter is a web platform for sharing innovative products, projects and ideas of any kind. Here we let subscribers showcase their ideas in a few simple steps. Other subscribers can vote for projects, buy a product or even raise funds for a big cause,
                    project or innovation. Everything worth to be shared to the world is accepted, from a new book or movie idea to a new energy source or interstellar spaceship design, why not! <br> So come and join us!
                </p>
                <a [routerLink]="['/projects']" href="#three" class="btn btn-default btn-xl page-scroll">Browse projects</a>
            </div>
        </div>
    </div>
</section>

<section id="two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">Simple to use features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <h3>Add</h3>
                    <p class="text-muted">Share your project with the world. Create an account and upload your project in a few simple steps.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <h3>Vote</h3>
                    <p class="text-muted">Vote for a project if you like it. A simple way to push your favorite project ahead!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <h3>Buy</h3>
                    <p class="text-muted">If a starter product is for sale you can buy it. This way you support the team behind it!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-login-modal></app-login-modal>