<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-4 column">
                <h4>Information</h4>
                <ul class="list-unstyled">
                    <li><a [routerLink]="['/projects']">Projects</a></li>
                    <li><a [routerLink]="['/projects']">Categories</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 column">
                <h4>About</h4>
                <ul class="list-unstyled">
                    <li><a [routerLink]="['/contacts']">Contact Us</a></li>
                    <li><a href="https://github.com/Angular-Team-The-Merciful-Worms/big-starter#team-members">Our Team</a></li>
                </ul>
            </div>
            <div class="copyright">
                <span class="text-muted small"><a class="text-muted" href="https://github.com/Angular-Team-The-Merciful-Worms/big-starter">©2017 Telerik - The Merciful Worms</a> </span>
            </div>
        </div>
    </div>
</footer>